<div class="container">
  <h2>查看訂單: <%= @order.id %></h2>
  <p>收件人: <%= @order.username %></p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">商品名稱</th>
        <th scope="col">商品價格</th>
      </tr>
    </thead>
    <% @order_items.each do |order_item| %>
      <tbody>
        <tr>
          <td><%= order_item.course.name %></td>
          <td><%= order_item.course.price %></td>
        </tr>
      </tbody>
    <% end %>
    <tfoot>
      <tr>
        <td>總金額</td>
        <td><%= @order.total_price %></td>
      </tr>
    </tfoot>
</div>