<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div class="card text-dark bg-light mb-3">
      <div class="card-header">課程資訊</div>
      <div class="card-body">
        <h5 class="card-title">名稱: <%= @course.name %></h5>
        <p class="card-text">價格: <%= @course.price %></p>
        <p class="card-text">敘述: <%= @course.description %></p>
        <p class="card-text">類型: <%= @course.courses_type %></p>
        <%= form_tag cart_items_path, method: :post do %>
          <%= hidden_field_tag(:course_id, @course.id) %>
          <%= hidden_field_tag(:cart_type, Cart.cart_types[:buy_now]) %>
          <button type="submit" class="btn btn-primary">加入購物車</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
